@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


body {
  margin: 0;
  font-family: 'Righteous', cursive;
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  font-family: 'Righteous', cursive;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}

a:link {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar-nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .nav-item {
    margin-left: 5vh;
    
  }
}

/*
* ===== Navbar =====
*/
.navbar {
  font-family: 'Righteous', cursive;
  background: rgba(35,33,38,1);
  background: -moz-linear-gradient(-45deg, rgba(35,33,38,1) 0%, rgba(35,33,38,1) 51%, rgba(65,54,82,1) 87%, rgba(70,52,99,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(35,33,38,1)), color-stop(51%, rgba(35,33,38,1)), color-stop(87%, rgba(65,54,82,1)), color-stop(100%, rgba(70,52,99,1)));
  background: -webkit-linear-gradient(-45deg, rgba(35,33,38,1) 0%, rgba(35,33,38,1) 51%, rgba(65,54,82,1) 87%, rgba(70,52,99,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(35,33,38,1) 0%, rgba(35,33,38,1) 51%, rgba(65,54,82,1) 87%, rgba(70,52,99,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(35,33,38,1) 0%, rgba(35,33,38,1) 51%, rgba(65,54,82,1) 87%, rgba(70,52,99,1) 100%);
  background: linear-gradient(135deg, rgba(35,33,38,1) 0%, rgba(35,33,38,1) 51%, rgba(65,54,82,1) 87%, rgba(70,52,99,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#232126', endColorstr='#463463', GradientType=1 );
}

.container-render {
  min-height: 10em;
}

/*
* ===== Cards =====
*/
@media (max-width: 992px) {
  .title-story {
    font-size: xx-large;
  }
}

.custom-modal-style {
  min-width: 45% !important;
}

.modal-height {
  height: 95%;
}

/*
* ===== Horizontal rule =====
*/
.divider {
	position: relative;
  margin-bottom: 5px;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(255, 255, 255), transparent);
}

/*
* ===== Glowing =====
*/
.glow {
  color:#fff;
  text-shadow:1px 1px 8px #f2ffb6, 1px 1px 10px #e6ff76;
}

.glow:hover {
  color:#fff;
  text-shadow:1px 1px 8px #f2ffb6, 1px 1px 16px #e6ff76;
}

@media (prefers-color-scheme: dark) {
  .glow {
    color:#fff;
    text-shadow:1px 1px 8px #f2ffb6, 1px 1px 10px #e6ff76;
  }

  .glow:hover {
    color:#fff;
    text-shadow:1px 1px 8px #f2ffb6, 1px 1px 16px #e6ff76; /* Cambia el sombreado en modo oscuro al pasar el cursor por encima */
  }
}

/*
* =====Zoom=====
*/
.hover-zoom-interest {
  border-radius: 5px;
  transition: transform 0.3s, border 0.3s;
}

.hover-zoom-interest:hover {
  transform: scale(1.05);
}

.img-zoom {
  border-radius: 3px;
  overflow: hidden;
  z-index:1;
}

.img-zoom img {
  transition: transform 0.3s;
}

.img-zoom img:hover {
  transform: scale(1.2);
}

/*
* =====Colors=====
*/
.text-vastago {
  color: #b47d29;
}

.text-marinero {
  color: #091936;
}

.text-bosque {
  color: #221613;
}

/*
* =====Footer=====
*/

/*
* Dummy devices (replace them with your own or something else entirely!)
*/

  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }

  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
  }

  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }

/*
* Extra utilities
*/
  .flex-equal > * {
    flex: 1;
  }

  @media (min-width: 768px) {
    .flex-md-equal > * {
      flex: 1;
    }
  }